.bi {
    font-style: italic;
    font-weight: bold
    }
.box_grey {
    background-color: #c0c2c4;
    display: block;
    padding: 1em;
    margin: 1em 0
    }
.boxeb10smallhead {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    margin: 0 0 0.5em
    }
.brandingheadclosednum {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.41667em;
    font-variant: small-caps;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    text-transform: lowercase;
    margin: 0.25em 2% 0.55em
    }
.brandingheadclosedtitle {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 0.5em 2% 3em
    }
.calibre {
    display: block;
    font-size: 1em;
    orphans: 2;
    padding-left: 0;
    padding-right: 0;
    widows: 2;
    margin: 0 5pt
    }
.calibre1 {
    display: inline;
    height: auto;
    page-break-inside: avoid;
    width: 100%
    }
.calibre2 {
    display: block
    }
.calibre3 {
    color: #06f;
    text-decoration: none;
    border-bottom: currentColor dotted 1px
    }
.calibre4 {
    color: gray;
    display: block;
    height: 2px;
    margin: 1em 10% 1.5em;
    border: currentColor inset 1px
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    color: #06f;
    line-height: 1.2;
    text-decoration: none;
    border-bottom: currentColor dotted 1px
    }
.calibre7 {
    display: block;
    margin: 0.5em 1em
    }
.calibre8 {
    font-size: 0.75em;
    text-transform: uppercase
    }
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: inline-block;
    height: auto;
    width: 300px;
    margin: 0
    }
.caption {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    page-break-before: avoid;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: -1em auto 1.5em
    }
.dedication {
    display: block;
    line-height: 1.3em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2;
    margin: 5em 0 0
    }
.eb01bodytextlinespace {
    display: block;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 1em 0 0
    }
.eb02bodytextfullout {
    display: block;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0
    }
.eb03bodytextindented {
    display: block;
    orphans: 2;
    text-align: left;
    text-indent: 1em;
    widows: 2;
    margin: 0
    }
.eb04mainhead {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    margin: 14% 0 2em
    }
.eb04smallcapsmainhead {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.66667em;
    font-variant: small-caps;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0.1em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-transform: lowercase;
    margin: 0.5em 0 1em
    }
.eb07smallcapsmediumhead {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    text-transform: uppercase;
    margin: 2em 0 0.5em
    }
.eb09largehead {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    hyphens: none;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    margin: 18% 5% 0
    }
.eb10smallhead {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    margin: 1.5em 0 0.5em
    }
.eb11smallitalichead {
    display: block;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3em;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 0 0 2em
    }
.eb13copyrighthead {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3em;
    text-indent: 0;
    text-transform: uppercase;
    margin: 0
    }
.eb14copyrighttext {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0.5em 0 0
    }
.eb14copyrighttextnospace {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0
    }
.eb15contentstext {
    display: block;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: -2em;
    widows: 2;
    margin: 1.5em 0 0.5em 3.5em
    }
.eb15contentstext_fs {
    display: block;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0 0 1em 2em
    }
.eb15contentstextindent {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0 0 0.5em 4em
    }
.eb15contentstextindent1_fs {
    display: block;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0 0 0.5em 3.5em
    }
.eb15contentstextindent1nbs {
    display: block;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0 0 0 3.5em
    }
.eb15contentstextindent1ts {
    display: block;
    line-height: 1.3em;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 1.5em 0 0.5em 3.5em
    }
.eb20extrafeaturelast {
    display: block;
    font-size: 0.75em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0 1em
    }
.eb20extrafeaturelastbs {
    display: block;
    font-size: 0.75em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0 1em 0.5em
    }
.eb20extrafeaturelastcenter {
    display: block;
    font-size: 0.75em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2;
    margin: 0 1em
    }
.eb20extrafeaturelasthang {
    display: block;
    font-size: 0.75em;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0 1em 0 2em
    }
.eb20extrafeaturelasthangts {
    display: block;
    font-size: 0.75em;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0.5em 1em 0 2em
    }
.eb20extrafeaturelastright {
    display: block;
    font-size: 0.75em;
    orphans: 2;
    text-align: right;
    text-indent: 0;
    widows: 2;
    margin: 0 1em
    }
.eb24list {
    display: list-item;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-right: 1em;
    margin-top: 0;
    text-align: left
    }
.ebsup {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.ebsup1 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.endnotes {
    display: block;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0 0 0 1.5em
    }
.endnotes1 {
    display: block;
    orphans: 2;
    text-align: left;
    text-indent: -1.5em;
    widows: 2;
    margin: 0 0 0 1.5em
    }
.endpage {
    display: block;
    margin-bottom: 1em;
    text-align: center
    }
.endpagehead {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.3em;
    page-break-after: AVOID;
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0
    }
.hang {
    display: block;
    orphans: 2;
    text-align: left;
    text-indent: -1em;
    widows: 2;
    margin: 0 0 0 1em
    }
.imageleft {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 1em 0 0.7em
    }
.landscape_large {
    clear: both;
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 100%;
    margin: 25% auto 1.5em
    }
.landscape_large1 {
    clear: both;
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 100%;
    margin: 1.5em auto
    }
.landscape_large2 {
    clear: both;
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 100%;
    margin: 15% auto 1.5em
    }
.landscape_large3 {
    clear: both;
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 100%;
    margin: 30% auto 1.5em
    }
.portrait_medium {
    clear: both;
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 50%;
    margin: 30% auto 1.5em
    }
.portrait_medium1 {
    clear: both;
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 50%;
    margin: 1.5em auto
    }
.strong {
    font-weight: bold
    }
.pcalibre:visited {
    color: #06f;
    text-decoration: none;
    border-bottom: currentColor dotted 1px
    }
